.list
  .c-list
    @media(min-width: 1600px) and (min-height: 850px)
      margin-top: 25px

    @media(min-width: 992px)
      padding-right: 15px

    @media(min-width: 1600px)
      padding-right: 30px

  .cl-item
    position: relative
    padding-left: 40px

    @media(min-width: 992px)
      margin-bottom: 10px

    @media(min-width: 1400px)
      padding-left: 60px

    &:last-child
      margin-bottom: 0

    &__radio
      display: none

      &:checked ~ .cl-item__inner
        @media(min-width: 992px)
          background-color: #333

      &:checked + .cl-item__inner .cl-item__label
        @media(min-width: 992px)
          border-bottom-color: transparent

      &:checked + .cl-item__inner .cl-item__label::before
        background-color: #ff0302

      &:checked + .cl-item__inner .cl-item__label .cl-item__text .cl-item__text-inner
        max-height: 250px
        transition: max-height 0.5s ease-in

    &__inner
      align-items: center
      display: flex
      padding-right: 10px

    &__label
      display: block
      cursor: pointer
      flex-grow: 1
      padding-top: 10px
      padding-bottom: 10px

      @media(min-width: 992px)
        border-bottom: 1px solid #393b3a
        padding-left: 5px

      @media(min-width: 1200px)
        padding-top: 5px
        padding-left: 10px
        padding-right: 10px

      &::before
        background-color: #242424
        border: 3px solid #fff
        border-radius: 50%
        content: ""
        height: 16px
        left: 10px
        position: absolute
        top: 12px
        width: 16px

        @media(min-width: 1400px)
          height: 20px
          left: 20px
          top: 10px
          width: 20px

    &__image
      display: none

    &__title
      font-size: 14px
      font-weight: 500

<<<<<<< HEAD
      @media(min-width: 1400px)
        font-size: 15px
=======
      @media(min-width: 1200px)
        font-size: 16px
        font-weight: 500
>>>>>>> b7fd635f150b438b4781ad3c2c040bf71b2af7df

      @media(min-width: 1600px)
        font-size: 20px
        margin-bottom: 5px

      .badge
        display: inline-block
        font-size: 80%
        margin-right: 10px
        padding: 2px 5px
        position: relative
        top: -2px
        vertical-align: middle
        white-space: nowrap

        &--red
          background-color: #e7212e

        &--blue
          background-color: #2980cf

        &--timer
          background: url("../images/icons/timer.png") no-repeat 0 50% / 17px 17px transparent
          padding-left: 20px

          @media(min-width: 1200px)
            padding-left: 25px

    &__text
      color: #7A7A7A
      display: none

      @media(min-width: 992px)
        display: block
        font-weight: 300
        font-size: 12px

<<<<<<< HEAD
      @media(min-width: 1400px)
        font-size: 13px
=======
      @media(min-width: 1200px)
        font-size: 13px

      @media(min-width: 1400px)
        font-size: 14px
>>>>>>> b7fd635f150b438b4781ad3c2c040bf71b2af7df

      @media(min-width: 1600px)
        font-size: 15px

    &__text-inner
      overflow: hidden
      max-height: 2.8em
      transition: max-height 0.5s ease-out

      &.is-open
        max-height: 250px
        transition: max-height 0.5s ease-in

      @media(min-height: 1090px)
        max-height: 250px

    &__text-opener
      border-bottom: 1px dotted

      &:hover
        text-decoration: none

    &__cnt
      display: flex
      font-size: 18px

      @media(min-width: 992px)
        align-items: flex-end
        padding-bottom: 15px

    &__cnt-button,
    &__cnt-input
      align-items: center
      color: #8c8c8c
      display: flex
      font-weight: 300
      justify-content: center
      height: 30px
      width: 30px

      @media(min-width: 992px)
        font-weight: 700

      @media(min-width: 1600px)
        font-size: 22px

    &__cnt-input
      border: none
      background: none
      padding: 0
      text-align: center

.tile
  .c-list
    padding-left: 5px
    padding-right: 5px
    padding-top: 5px

    @media(min-width: 1600px)
      padding-left: 20px
      padding-right: 20px

    &__container
      width: 100%
      padding-right: 10px
      padding-left: 10px
      margin-right: auto
      margin-left: auto

    &__row
      display: flex
      flex-wrap: wrap
      margin-right: -10px
      margin-left: -10px

    &__item
      flex: 0 0 50%
      max-width: 50%
      margin-bottom: 20px

      @media(min-width: 480px)
        flex: 0 0 33.33%
        max-width: 33.33%

      @media(min-width: 576px)
        flex: 0 0 25%
        max-width: 25%

      @media(min-width: 992px)
        flex: 0 0 16.666%
        max-width: 16.666%

  .cl-item
    cursor: pointer
    position: relative
    width: 100%
    min-height: 1px
    padding-right: 10px
    padding-left: 10px

    @media(min-width: 992px)
      margin-bottom: 10px

    &__radio
      display: none

      &:checked ~ .cl-item__inner .cl-item__label .cl-item__title::before
        background-color: #ff0302

    &__image
      border: 1px solid #707070
      cursor: pointer
      margin-bottom: 15px

    &__title
      font-size: 14px
      font-weight: 500
      padding-left: 25px
      position: relative

      @media(min-width: 992px)
        font-size: 12px

      @media(min-width: 1400px)
        font-size: 14px

      @media(min-width: 1600px)
        font-size: 16px
        padding-left: 45px

      &::before
        background-color: #242424
        border: 3px solid #fff
        border-radius: 50%
        content: ""
        height: 16px
        left: 0
        position: absolute
        top: 0
        width: 16px

        @media(min-width: 1600px)
          height: 20px
          width: 20px

    &__text,
    &__cnt
      display: none
