.component
  position: relative
  z-index: 1

  @media(min-width: 992px)
    padding-top: 25px

  &--no_padding_top
    @media(min-width: 992px)
      padding-top: 0

  &--config_description
    display: none
    text-align: center

    &.is-active
      display: block

    @media(min-width: 1600px)
      font-size: 16px

    @media(min-height: 1090px)
      font-size: 18px

    img
      max-width: 65%

      @media(min-width: 1900px)
        max-width: 80%

      @media(min-height: 1090px)
        max-width: 100%

  &__image
    padding-top: 25px
    margin-bottom: 10px
    text-align: center

    @media(min-width: 992px)
      padding-top: 0

    &:last-child
      margin-bottom: 0

    img
      max-width: 55%

    >
      .component__image
        position: absolute
        top: 0
        width: 100%

  &__features
    padding-left: 15px
    padding-right: 15px

    @media(min-width: 1200px)
      padding-left: 35px
      padding-right: 35px

  &__features-row
    align-items: stretch
    display: flex
    flex-wrap: wrap
    margin-left: -5px
    margin-right: -5px

  &__features-col
    margin-bottom: 10px
    padding-left: 5px
    padding-right: 5px
    width: 50%

    @media(min-width: 480px)
      width: 25%

    @media(min-width: 768px)
      width: 20%

    @media(min-width: 992px)
      width: 25%

  &__feature
    align-items: flex-end
    background-color: #3a3a3a
    border: 1px solid #95989A
    box-shadow: 0 3px 6px rgba(0,0,0,0.16)
    display: flex
    flex-direction: column
    font-size: 12px
    justify-content: center
    height: 100%
    line-height: 1.16
    padding: 5px
    text-align: right

  &__feature-title
    font-family: 'Russo One', 'Roboto', Arial, sans-serif
    font-size: 20px
    font-weight: 700
    line-height: 1

    @media(min-width: 1600px)
      font-size: 30px

  &__text
    padding-left: 15px
    padding-right: 15px

    @media(min-width: 1200px)
      padding-left: 35px
      padding-right: 35px

    p
      margin-bottom: 20px

      &:last-child
        margin-bottom: 0

.new-paint-layout
  &__image
    @media(max-width: 1199px)
      height: calc(50vh - 55px)
      left: 0
      position: fixed
      top: 55px
      width: 100%
      z-index: 2

    .config__content-block-inner
      @media(max-width: 1199px)
        position: absolute
        height: calc(100% - 55px)
        width: 100%

      >
        .component
          @media(max-width: 1199px)
            height: 100%
            left: 0
            position: absolute
            top: 0
            width: 100%

          >
            div
              @media(max-width: 1199px)
                height: 100%
                position: absolute
                width: 100%

              .component__image
                @media(max-width: 1199px)
                  height: 100%
                  position: absolute
                  width: 100%

    .component__image
      @media(max-width: 1199px)
        margin-bottom: 0
        padding-top: 0

      img
        @media(max-width: 1199px)
          height: 94%
          max-width: initial

    .tabs-menu
        @media(max-width: 1199px)
          bottom: 0
          margin-bottom: 0
          position: absolute
          width: 100%

  &__options
    @media(max-width: 1199px)
      padding-top: calc(50vh - 55px)

//div:not(.is-active)[data-type="BG_WRAP_AREA"],
//img:not(.is-active)[data-type="BG_LAYER"],
//div:not(.is-active)[data-type="CONFIG_ITEM"]
  display: none
