.config
  margin-left: auto
  margin-right: auto
  max-width: 1800px
  padding-top: 60px
  padding-bottom: 60px

  //@media (min-width: 1200px) and (min-height: 650px)
  @media (min-width: 992px)
    display: flex
    height: calc(100% - 65px)
    min-height: 320px
    padding-bottom: 0
    padding-top: 65px

  @media(min-width: 1600px) and (min-height: 850px)
    height: calc(100% - 80px)
    padding-top: 80px

  &--personal
    padding-bottom: 0

  &--no_title
    padding-top: 55px

    //@media (min-width: 1200px) and (min-height: 650px)
    @media (min-width: 992px)
      height: calc(100% - 60px)
      padding-top: 60px

    @media(min-width: 1600px) and (min-height: 850px)
      height: calc(100% - 80px)
      padding-top: 80px

    .config__content-inner
      //@media (min-width: 1200px) and (min-height: 650px)
      @media (min-width: 992px)
        padding-top: 5px

  &__intro
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    height: calc(100vh - 110px)
    min-height: 320px
    margin-bottom: 15px
    position: relative

    //@media (min-width: 1200px) and (min-height: 650px)
    @media (min-width: 992px)
      display: none

  &__content
    //@media (min-width: 1200px) and (min-height: 650px)
    @media (min-width: 992px)
      display: flex
      flex-direction: column
      padding-right: 5px
      width: 81.38%

  &__content-inner
    //@media (min-width: 1200px) and (min-height: 650px)
    @media (min-width: 992px)
      display: flex
      height: calc(100% - 55px)
      padding-top: 5px

    &--personal
      //@media (min-width: 1200px) and (min-height: 650px)
      @media (min-width: 992px)
        display: flex
        height: 100%
        padding-top: 0

  &__content-block
    background-color: #242424

    //@media (min-width: 1200px) and (min-height: 650px)
    @media (min-width: 992px)
      overflow-y: auto
      margin-right: 5px
      width: 50%

    //&--list
      @media(min-width: 1200px)
        margin-right: 0
        width: 100%

      //@media (min-width: 1200px) and (min-height: 650px)
        margin-right: 5px !important
        width: 50% !important

    &--description
      display: none

      //@media (min-width: 1200px) and (min-height: 650px)
      @media (min-width: 992px)
        display: block

    &--full,
    &--personal
      //@media (min-width: 1200px) and (min-height: 650px)
      @media (min-width: 992px)
        margin-right: 0
        width: 100%

    &--performance
      @media(max-width: 991px)
        padding-top: 50px

    &:last-child
      @media(min-width: 992px)
        margin-right: 0

    &.order-lg-2
      @media(min-width: 992px)
        margin-right: 0

    &.order-lg-1
      @media(min-width: 992px)
        margin-right: 5px

  &__content-block-inner
    //padding-bottom: 25px

    @media(min-width: 992px)
      min-height: 100%

  &__title-block
    align-items: center
    background-color: #050505
    display: flex
    justify-content: space-between
    min-height: 55px
    padding: 12px 15px

    //@media (min-width: 1200px) and (min-height: 650px)
    @media (min-width: 992px)
      background-color: #242424
      overflow: hidden
      padding: 5px 15px
      position: relative

    &--for_desktop
      display: none

      //@media (min-width: 1200px) and (min-height: 650px)
      @media (min-width: 992px)
        display: flex

    &--duplicate
      //@media (min-width: 1200px) and (min-height: 650px)
      @media (min-width: 992px)
        display: none

    &::after
      //@media (min-width: 1200px) and (min-height: 650px)
      @media (min-width: 992px)
        background-color: #404040
        content: ""
        height: calc(100% - 10px)
        left: -30px
        position: absolute
        padding-left: 60px
        top: 5px
        transform: skew(-45deg)
        width: 50%
        z-index: 1

  &__title
    font-size: 16px
    margin-bottom: 0
    position: relative
    z-index: 2

    @media(min-width: 400px)
      font-size: 18px

    @media(min-width: 768px)
      font-size: 20px

    //@media (min-width: 1200px) and (min-height: 650px)
    @media (min-width: 992px)
      padding-left: 15px

    @media (min-width: 1600px) and (min-height: 850px)
      font-size: 24px
      padding-left: 15px

    &.js-current-menu-sub-step
      height: auto

  &__views-block
    display: flex

    @media(min-width: 992px)
      margin-right: 10px

  &__view
    align-items: center
    display: flex
    justify-content: center
    height: 27px
    margin-left: 2px
    margin-right: 2px
    opacity: 0.5
    width: 27px

    &.is-active
      opacity: 1

  &__view-icon
    height: 22px
    width: 22px

    &--list
      fill: #fff
      height: 27px
      width: 27px

    &--tile
      stroke: #fff

  &__sidebar
    //@media(min-width: 1200px) and (min-height: 650px)
    @media (min-width: 992px)
      background-color: #1a1a1a
      overflow-y: auto
      width: 18.62%

    &.is-open
      &::before
        @media(min-width: 768px) and (max-width: 991px)
          background-color: #242424
          bottom: 0
          content: ''
          height: 100%
          left: auto
          max-width: 320px
          position: fixed
          right: 0
          top: 0
          width: 100%
          z-index: 4

  &__subtitle-block
    align-items: center
    display: flex
    justify-content: space-between
    min-height: 50px
    padding-left: 15px
    padding-right: 15px
    position: relative
    z-index: 1

    @media(max-width: 991px)
      background-color: #050505
      text-transform: uppercase

    @media(min-width: 1200px)
      padding-left: 30px

    &::after
      @media(min-width: 992px)
        content: ''
        width: 100%
        height: 100%
        background-color: #404040
        position: absolute
        top: 0
        left: -36%
        z-index: 1
        transform: skew(-54deg)

    &::before
      @media(min-width: 992px)
        background-color: #404040
        content: ''
        height: 5px
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 1

    .config__views-block
      margin-right: 0

  &__subtitle
    font-size: 16px
    font-weight: 400
    margin-bottom: 0
    margin-top: 0
    position: relative
    z-index: 2

    @media(min-width: 1200px)
      font-size: 18px

    @media(min-width: 1900px)
      font-size: 24px

.tile
  .config
    &__content-block--list
      margin-right: 0
      width: 100%

    &__content-block--description
      display: none

.config-section
  @media(min-width: 992px)
    display: none

  &.is-active
    display: block
