.orders-list
  border-collapse: collapse
  border: 1px solid #161616
  border-bottom: none
  color: #999
  width: 100%

  &__cell
    border-bottom: 1px solid #161616
    padding: 10px 5px

    @media(min-width: 768px)
      border: 1px solid #161616
      border-top: none

    @media(min-width: 1200px)
      padding: 10px

  &__dark-row
    @media(min-width: 768px)
      background-color: #3b3b3b

  &__light-row
    @media(min-width: 768px)
      background-color: #454545

  &__th
    border-top: 1px solid #161616
    color: #fff
    white-space: nowrap

    @media(max-width: 767px)
      background-color: #1F1F1F
      font-size: 12px

  &__number-block
    @media(min-width: 768px)
      text-align: center

  &__num
    @media(min-width: 768px)
      display: none

  &__number
    @media(max-width: 767px)
      display: none

  &__date-block
    text-align: center

  &__date
    text-align: center

    @media(max-width: 991px)
      display: none

  &__price-block
    text-align: center

  &__cost
    @media(max-width: 767px)
      display: none

  &__price
    @media(min-width: 768px)
      display: none

  &__status-text
    &::after
      @media(min-width: 768px)
        content: ':'

  &__status-block
    text-align: center

  &__status
    color: #fff
    display: inline-block
    min-width: 60px
    padding: 2px 5px
    text-align: center

    @media(min-width: 768px)
      margin-left: 5px
      margin-right: 5px

    &--cancel
      background-color: #f13724

  &__more-block
    text-align: center

  &__button
    background: none
    border: none
    color: #999
    cursor: pointer
    display: inline-block
    font-weight: 700
    height: 30px
    padding: 0
    text-align: center
    width: 30px

    &:hover
      text-decoration: none

    @media(min-width: 576px)
      border: 1px solid #fff
      color: #fff
      display: inline-block
      font-weight: 400
      height: auto
      margin-right: 1px
      margin-left: 1px
      padding: 5px 10px
      text-decoration: none
      width: auto

  &__more-text
    @media(max-width: 575px)
      display: none

  &__more
    @media(min-width: 576px)
      display: none

.order-detail
  color: #999

  &__section
    border-bottom: 1px solid #2c2c2c
    padding-bottom: 20px

  &__title
    font-size: 24px
    font-weight: 700

    @media(min-width: 1200px)
      font-size: 30px

    @media(min-width: 1900px)
      font-size: 40px

  &__date
    font-size: 18px
    font-weight: 500
    margin-top: 10px

    @media(min-width: 1200px)
      font-size: 20px

    @media(min-width: 1900px)
      font-size: 24px

  &__subtitle
    font-weight: 700
    margin-bottom: 10px
    margin-top: 20px

    @media(min-width: 1200px)
      font-size: 20px

  &__text
    margin-bottom: 10px

  &__status-buttons
    align-items: center
    display: flex
    flex-wrap: wrap

    @media(min-width: 576px)
      justify-content: space-between

  &__status-list
    margin-bottom: 10px

  &__status
    background-color: #3c3c3c
    border: 1px solid #fff
    color: #fff
    display: inline-block
    font-weight: 400
    line-height: 18px
    min-height: 40px
    margin: 2px 0
    padding: 9px
    text-align: center
    vertical-align: middle

    @media(min-width: 768px)
      min-width: 120px

    &--cancel
      color: #e5262d

      &::-moz-selection
        background: #fff
        text-shadow: none

      &::selection
        background: #fff
        text-shadow: none

  &__top-buttons
    margin-bottom: 10px

  &__button
    min-width: 140px
    padding-top: 10px

    @media(min-width: 1200px)
      min-width: 160px

  &__buttons-block
    padding-bottom: 20px
    text-align: right

.payment-systems
  margin-top: 20px

.payment-system
  margin-bottom: 20px

  &__container
    cursor: pointer

  &__image
    border: 2px solid #c3cace
    border-radius: 2px
    background: #fff
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    height: 0
    position: relative
    padding-top: 50%
    width: auto

  &__title
    color: #a3a3a3
    font-size: 14px
    padding-top: 15px
    text-align: center
