<footer class="footer">
  <div class="footer__inner">
    <a class="footer__button config-close" href="#" title="Закрыть конфигуратор">ЗАКРЫТЬ</a>
    <div class="footer__buttons">
      <div class="footer__admin-buttons">
        <button class="footer__button config-share" type="button" title="Поделиться"><svg class="config-share__icon" aria-hidden="true"><use xlink:href="#share"/></svg></button>
      </div>
      <div class="footer__buttons-inner">
        <a class="footer__button config-save" href="#" title="Сохранить"><svg class="config-save__icon" aria-hidden="true"><use xlink:href="#save"/></svg><span class="config-save__text">СОХРАНИТЬ</span></a>
        <div class="footer__buy-block">
          <div class="footer__price-block">
            <p class="footer__price">100 000 руб.</p>
            <p class="footer__price-per-month">3500 руб. / мес.</p>
          </div>
          <a class="footer__button footer__button--red config-buy" href="#" title="Купить"><svg class="config-buy__icon" aria-hidden="true"><use xlink:href="#cart"/></svg><span class="config-save__text">КУПИТЬ</span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
