<header class="header">
  <div class="header__inner">
    <a class="header__back" href="#"><img class="header__back-icon" src="images/icons/back.svg" alt="Назад"> Performance серия</a>
    <h1 class="header__title decorated-title"><span class="decorated-title__red">КОНФИГУРАТОР</span> <span class="decorated-title__bordered">PERFORMANCE</span></h1>
    <button class="js-config-menu-opener menu-opener config-menu-opener" type="button" title="Меню"><span></span></button>
    <button class="js-menu-opener menu-opener" type="button" title="Меню"><span></span></button>
    <div class="main-menu">
      <ul class="main-menu__list">
        <li class="main-menu__item root">
          <a class="main-menu__link root-link" href="#">Игровые компьютеры</a>
          <div class="main-menu__dropdown">
            <p class="main-menu__dropdown-title">ИГРОВЫЕ СЕРИИ</p>
            <a class="main-menu__dropdown-link" href="#">ProGaming - серия</a>
            <a class="main-menu__dropdown-link" href="#">Performance - серия</a>
            <a class="main-menu__dropdown-link" href="#">Performance X - серия</a>
            <p class="main-menu__dropdown-title">СПЕЦИАЛЬНЫЕ СЕРИИ</p>
            <a class="main-menu__dropdown-link" href="#">Powered by ASUS</a>
            <a class="main-menu__dropdown-link" href="#">Powered by AMD</a>
          </div>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Рабочие станции</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Моноблоки</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Аксессуары</a>
        </li>
      </ul>
    </div>
    <a class="cart-icon" href="#" title="Корзина"><span class="cart-icon__qnt">0</span><svg class="cart-icon__icon" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#cart"/></svg></a>
  </div>
</header>
