<div class="save-block webkit-scroll">
  <div class="save-block__inner">
    <button class="js-save-close save-block__close" type="button" title="Закрыть"><span></span></button>
    <div class="save-block__description">
      <p class="save-block__description-title">ID конфигурации: #123456</p>
      <p class="save-block__description-price">Цена: 64 000 руб. (на 26.06.2018)</p>
      <p class="save-block__description-subtitle">Игровой компьютер DigitalRazor Progaming:</p>
      <p>Процессор: 4-ядерный AMD Ryzen 3 1200 3.1GHz</p>
      <p>Кулер: Deepcool GAMMAXX 300</p>
      <p>Системная плата: GIGABYTE GA-A320M-S2H</p>
      <p>Оперативная память: 8GB (2x4Gb) DDR4 2400Mhz Corsair Vengeance</p>
      <p>Видеокарта: ASUS PHOENIX GTX1050 2G</p>
      <p>HDD накопитель: HDD 1TB WD Blue</p>
      <p>Корпус: Cooler Master MasterBox MB600L</p>
      <p>Блок питания: 500W CoolerMaster MasterWatt Lite 500</p>
      <p>Процессор: 4-ядерный AMD Ryzen 3 1200 3.1GHz</p>
      <p>Кулер: Deepcool GAMMAXX 300</p>
      <p>Системная плата: GIGABYTE GA-A320M-S2H</p>
      <p>Оперативная память: 8GB (2x4Gb) DDR4 2400Mhz Corsair Vengeance</p>
      <p>Видеокарта: ASUS PHOENIX GTX1050 2G</p>
      <p>HDD накопитель: HDD 1TB WD Blue</p>
      <p>Корпус: Cooler Master MasterBox MB600L</p>
      <p>Блок питания: 500W CoolerMaster MasterWatt Lite 500</p>
      <p class="save-block__description-subtitle">Дизайн:</p>
      <p>Кастомная окраска - Красный</p>
      <p>Нанесение Арта на боковую крышку</p>
      <p>Кастомная оплетка проводов</p>
      <p class="save-block__description-subtitle">Гарантия и Сервис:</p>
      <p>Тестирование: Стандартный стресс-тест основных компонентов 8 часов</p>
      <p>Гарантия: Базовая гарантия 12 месяцев</p>
      <p>Профессиональная сборка и настройка</p>
      <p>Бесплатная доставка: Бесплатная доставка</p>
      <p class="save-block__description-subtitle">Аксессуары:</p>
      <p>Клавиатура и мышь Cooler master</p>
      <p>ЖК монитор 32" ASUS Swift</p>
    </div>
    <div class="save-block__form-block">
      <div class="save-block__form">
        <p class="save-block__form-logo"><img width="400" src="images/vertical_logo.png" alt="DIGITAL RAZOR"></p>
        <p>Сохраните Вашу конфигурацию, что бы не потерять информацию или вернуться к ней позднее.</p>
        <p>Ссылка на конфигурацию придет к Вам на электронную почту, а так же все Ваши сохраненные конфигурации будут доступны в личном кабинете.</p>
        <div class="save-form">
          <label class="save-form__label" for="email">
            <input id="email" class="input error" name="email" type="text" value="" placeholder="E-mail">
          </label>
          <label class="save-form__label" for="message">
            <textarea id="message" class="save-form__textarea textarea" name="message" placeholder="Ваш вопрос или комментарий"></textarea>
          </label>
          <div class="save-form__buttons">
            <button class="save-form__button button" type="button">Сохранить в PDF</button>
            <button class="save-form__button button button--red" type="button">Отправить на почту</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="consult-block webkit-scroll">
  <div class="consult-block__inner">
    <button class="js-consult-close consult-block__close" type="button"><span></span></button>
    <div class="consult-block__form">
      <p>Нужна консультация или возник вопрос по оплате и доставке?</p>
      <div class="consult-form">
        <label class="consult-form__label" for="name">
          <input id="name" class="input" name="name" type="text" value="" placeholder="Имя">
        </label>
        <label class="consult-form__label" for="phone">
          <input id="phone" class="input" name="phone" type="text" value="" placeholder="Телефон">
        </label>
        <label class="consult-form__label" for="email">
          <input id="email" class="input" name="email" type="text" value="" placeholder="E-mail">
        </label>
        <label class="consult-form__label" for="message">
          <textarea id="message" class="save-form__textarea textarea" name="message" placeholder="Ваш вопрос"></textarea>
        </label>
        <p>Укажите удобный для вас способ ответа:</p>
        <div class="consult-form__radios">
          <div class="consult-form__radio">
            <label class="radio-label" for="e-mail">
              <input class="radio-label__input" id="e-mail" type="radio" name="consult-form" value="email" checked>
              <span class="radio-label__icon"></span>
              E-mail
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="telephone">
              <input class="radio-label__input" id="telephone" type="radio" name="consult-form" value="telephone">
              <span class="radio-label__icon"></span>
              Телефон
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="whatsup">
              <input class="radio-label__input" id="whatsup" type="radio" name="consult-form" value="whatsup">
              <span class="radio-label__icon"></span>
              WhatsUp
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="vk">
              <input class="radio-label__input" id="vk" type="radio" name="consult-form" value="vk">
              <span class="radio-label__icon"></span>
              Vkontakte
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="tg">
              <input class="radio-label__input" id="tg" type="radio" name="consult-form" value="tg">
              <span class="radio-label__icon"></span>
              Telegram
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="viber">
              <input class="radio-label__input" id="viber" type="radio" name="consult-form" value="viber">
              <span class="radio-label__icon"></span>
              Viber
            </label>
          </div>
        </div>
        <button class="consult-form__button button button--red" type="button">Отправить</button>
      </div>
    </div>
  </div>
</div>
