<div class="save-block2">
  <div class="save-block2__inner">
    <div class="save-block2__form-block">
      <div class="save-block2__form">
        <p class="save-block2__form-title">КОНФИГУРАЦИЯ #1234567</p>
        <p>
          Введите адрес электронной почты.<br>
          На него будет отправлена Ваша сохраненная конфигурация.<br>
          Ссылка на конфигурацию будет доступна в личном кабинете, если Вы зарегистрированы.
        </p>
        <p>При желании, Вы можете написать вопрос или пожелание к конфигурации.</p>
        <div class="save-form2">
          <label class="save-form2__label" for="email">
            <input id="email" class="input error" name="email" type="text" value="" placeholder="Ваш E-mail">
          </label>
          <label class="save-form2__label" for="message">
            <textarea id="message" class="save-form2__textarea textarea" name="message" placeholder="Ваш вопрос или комментарий"></textarea>
          </label>
          <div class="save-form2__buttons">
            <button class="js-save-close2 save-form2__button button" type="button">ЗАКРЫТЬ</button>
            <button class="save-form2__button button" type="button">ОТПРАВИТЬ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="consult-block">
  <button class="js-consult-close consult-block__close" type="button"><span></span></button>
  <div class="consult-block__inner">
    <div class="consult-block__form">
      <p>Нужна консультация или возник вопрос по оплате и доставке?</p>
      <div class="consult-form">
        <label class="consult-form__label" for="name">
          <input id="name" class="input" name="name" type="text" value="" placeholder="Имя">
        </label>
        <label class="consult-form__label" for="phone">
          <input id="phone" class="input" name="phone" type="text" value="" placeholder="Телефон">
        </label>
        <label class="consult-form__label" for="email">
          <input id="email" class="input" name="email" type="text" value="" placeholder="E-mail">
        </label>
        <label class="consult-form__label" for="message">
          <textarea id="message" class="save-form2__textarea textarea" name="message" placeholder="Ваш вопрос"></textarea>
        </label>
        <p>Укажите удобный для вас способ ответа:</p>
        <div class="consult-form__radios">
          <div class="consult-form__radio">
            <label class="radio-label" for="e-mail">
              <input class="radio-label__input" id="e-mail" type="radio" name="consult-form" value="email" checked>
              <span class="radio-label__icon"></span>
              E-mail
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="telephone">
              <input class="radio-label__input" id="telephone" type="radio" name="consult-form" value="telephone">
              <span class="radio-label__icon"></span>
              Телефон
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="whatsup">
              <input class="radio-label__input" id="whatsup" type="radio" name="consult-form" value="whatsup">
              <span class="radio-label__icon"></span>
              WhatsUp
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="vk">
              <input class="radio-label__input" id="vk" type="radio" name="consult-form" value="vk">
              <span class="radio-label__icon"></span>
              Vkontakte
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="tg">
              <input class="radio-label__input" id="tg" type="radio" name="consult-form" value="tg">
              <span class="radio-label__icon"></span>
              Telegram
            </label>
          </div>
          <div class="consult-form__radio">
            <label class="radio-label" for="viber">
              <input class="radio-label__input" id="viber" type="radio" name="consult-form" value="viber">
              <span class="radio-label__icon"></span>
              Viber
            </label>
          </div>
        </div>
        <button class="consult-form__button button button--red" type="button">Отправить</button>
      </div>
    </div>
  </div>
</div>
