<div id="feedback" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#close"/></svg></button>
  <p class="popup__title h1">Связаться с нами</p>
  <form class="form" action="">
    <div class="row">
      <div class="col-md-6">
        <label class="form__label" for="user_name">
          <input class="form__input input error" id="user_name" type="text" name="user_name" value="" placeholder="Ваше имя">
        </label>
        <label class="form__label" for="user_email">
          <input class="form__input input" id="user_email" type="text" name="user_email" value="" placeholder="Электронная почта">
        </label>
        <label class="form__label" for="user_phone">
          <input class="form__input input" id="user_phone" type="text" name="user_phone" value="" placeholder="Ваш телефон">
        </label>
        <select class="js-select form__select select" name="theme">
          <option>Жалобы и предложения</option>
          <option>Пожелания</option>
          <option>Вопрос</option>
          <option>Лекциии</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="form__label" for="message">
          <textarea class="form__textarea textarea" id="message" name="message" placeholder="Ваш вопрос"></textarea>
        </label>
      </div>
    </div>
    <div class="form__button-block">
      <button class="form__button button" type="submit">Отправить</button>
    </div>
  </form>
</div>
