<footer class="footer">
  <div class="footer__top container-fluid">
    <div class="footer-menu row">
      <div class="footer-menu__section col-sm-6 col-md-3">
        <ul>
          <li class="footer-menu__title">МОЙ АККАУНТ</li>
          <li><a class="footer-menu__link" href="#">Вход</a> / <a class="footer-menu__link" href="/auth/?register=yes">Регистрация</a></li>
          <li><a class="footer-menu__link" href="#">Личный кабинет</a></li>
          <li><a class="footer-menu__link" href="#">Моя корзина</a></li>
          <li><a class="footer-menu__link" href="#">Забыли пароль</a></li>
        </ul>
      </div>
      <div class="footer-menu__section col-sm-6 col-md-3">
        <ul>
          <li class="footer-menu__title">ПРОДУКЦИЯ</li>
          <li><a class="footer-menu__link" href="#">Progaming - серия</a></li>
          <li><a class="footer-menu__link" href="#">Performance - cерия</a></li>
          <li><a class="footer-menu__link" href="#">Performance X - cерия</a></li>
          <li><a class="footer-menu__link" href="#">Игровые моноблоки</a></li>
          <li><a class="footer-menu__link" href="#">Рабочие станции</a></li>
        </ul>
      </div>
      <div class="footer-menu__section col-sm-6 col-md-3">
        <ul>
          <li class="footer-menu__title">ПОДДЕРЖКА</li>
        </ul>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li><a class="footer-menu__link" href="#">Контакты</a></li>
              <li><a class="footer-menu__link" href="#">Оплата</a></li>
              <li><a class="footer-menu__link" href="#">Доставка</a></li>
              <li><a class="footer-menu__link" href="#">Гарантия</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a class="footer-menu__link" href="#">Реквизиты</a></li>
              <li><a class="footer-menu__link" href="#">Договор оферты</a></li>
              <li><a class="footer-menu__link" href="#">Кредит</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-menu__section col-sm-6 col-md-3">
        <ul>
          <li class="footer-menu__title">НОВОСТИ И АКЦИИ</li>
          <li><a class="footer-menu__link" href="#">Новости</a></li>
          <li><a class="footer-menu__link" href="#">Проекты</a></li>
          <li><a class="footer-menu__link" href="#">Акции</a></li>
          <li><a class="footer-menu__link" href="#">Сотрудничество</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <span class="footer__logo"><img src="images/logo.png" alt="DIGITAL RAZOR"></span>
      </div>
      <div class="footer__contacts col-sm-7">
        <p class="footer__phone"><a href="tel:88005009926">8 800 500-99-26</a></p>
        <p class="footer__address">Санкт-петербург, ул. Парковая 9<br> <a href="mailto:order@digital-razor.ru">order@digital-razor.ru</a></p>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container-fluid">
      <div class="footer__links row">
        <div class="footer__payments col-sm-6">
          <img width="40" height="25" src="images/icons/visa.png" alt="VISA">
          <img width="40" height="25" src="images/icons/paypal.png" alt="PAY PAL">
          <img width="40" height="25" src="images/icons/mastercard.png" alt="MASTER CARD">
        </div>
        <div class="footer__social col-sm-6">
          <a class="social-link" href="#" target="_blank" title="Google Plus"><img src="images/icons/gplus.png" alt="Google Plus"></a>
          <a class="social-link" href="#" target="_blank" title="Twitter"><img src="images/icons/twitter.png" alt="Twitter"></a>
          <a class="social-link" href="#" target="_blank" title="Mail"><img src="images/icons/mail.png" alt="Mail"></a>
          <a class="social-link" href="#" target="_blank" title="Facebook"><img src="images/icons/facebook.png" alt="Facebook"></a>
          <a class="social-link" href="#" target="_blank" title="RSS"><img src="images/icons/rss.png" alt="RSS"></a>
        </div>
      </div>
      <p class="footer__copyright">2018 © DigitalRazor. Все права защищены.</p>
    </div>
  </div>
</footer>
