<header class="header">
  <div class="header__top">
    <div class="header__top-inner container-fluid">
      <div class="header__geo geo">
        <button class="js-geo geo__opener" type="button" title="Выберите ваш город"><img width="20" height="20" src="images/icons/geo.png" alt=""></button>
        <div class="geo__list">
          <p class="geo__list-title">ВЫБОР ГОРОДА</p>
          <button class="geo__list-item" type="button">Москва</button>
          <button class="geo__list-item" type="button">Санкт-Петербург</button>
          <button class="geo__list-item" type="button">Другой город</button>
        </div>
      </div>
      <a class="header__top-link header__top-link--phone" href="tel:88005009926">+7 (800) 500-99-26</a>
      <a class="header__top-link" href="#">Задать вопрос</a>
      <a class="header__top-link" href="#">Личный кабинет</a>
      <a class="header__top-link" href="#">Контакты</a>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-inner container-fluid">
      <a class="logo" href="main.html"><img src="images/logo.png" alt="DIGITAL RAZOR"></a>
      <button class="js-menu-opener menu-opener" type="button" title="Меню"><span></span></button>
      <div class="main-menu-block">
        <ul class="main-menu">
          <li class="main-menu__item root">
            <a class="main-menu__link root-link" href="#">Игровые компьютеры</a>
            <div class="main-menu__dropdown">
              <p class="main-menu__dropdown-title">ИГРОВЫЕ СЕРИИ</p>
              <a class="main-menu__dropdown-link" href="#">ProGaming - серия</a>
              <a class="main-menu__dropdown-link" href="#">Performance - серия</a>
              <a class="main-menu__dropdown-link" href="#">Performance X - серия</a>
              <p class="main-menu__dropdown-title">СПЕЦИАЛЬНЫЕ СЕРИИ</p>
              <a class="main-menu__dropdown-link" href="#">Powered by ASUS</a>
              <a class="main-menu__dropdown-link" href="#">Powered by AMD</a>
            </div>
          </li>
          <li class="main-menu__item">
            <a class="main-menu__link" href="#">Рабочие станции</a>
          </li>
          <li class="main-menu__item">
            <a class="main-menu__link" href="#">Моноблоки</a>
          </li>
          <li class="main-menu__item main-menu__item--duplicate">
            <a class="main-menu__link" href="#">Задать вопрос</a>
          </li>
          <li class="main-menu__item main-menu__item--duplicate">
            <a class="main-menu__link" href="#">Личный кабинет</a>
          </li>
          <li class="main-menu__item main-menu__item--duplicate">
            <a class="main-menu__link" href="#">Контакты</a>
          </li>
        </ul>
        <button class="js-bb-opener bb-button" type="button">Собрать</button>
        <div class="bb-popup">
          <div class="bb-popup__inner">
            <div class="bb-popup__list">
              <div class="bb-popup__item">
                <a class="bb-item" href="#">
                  <span class="bb-item__image"><img src="images/content/bb_1.png" alt="SMART конфигуратор"></span>
                  <span class="bb-item__description">
                    <span class="bb-item__title">SMART конфигуратор</span>
                    <span class="bb-item__text">Упрощенный вариант конфигуратора с возможностью оценки производительности игрового ПК в основнох задачах.</span>
                    <span class="js-open-bb bb-item__button-block"><span class="bb-item__pseudo-button"><span class="mobile-text">Smart - конфигуратор</span><span class="desktop-text">Перейти</span></span></span>
                  </span>
                </a>
              </div>
              <div class="bb-popup__item">
                <a class="bb-item" href="#">
                  <span class="bb-item__image"><img src="images/content/bb_2.png" alt="ПОЛНЫЙ конфигуратор"></span>
                    <span class="bb-item__description">
                    <span class="bb-item__title">ПОЛНЫЙ конфигуратор</span>
                    <span class="bb-item__text">Конфигуратор с максимально широким выбором компонентов для самостоятельной конфигурации игрового компьютера для опытных</span>
                    <span class="js-open-bb bb-item__button-block"><span class="bb-item__pseudo-button"><span class="mobile-text">Full - конфигуратор</span><span class="desktop-text">Перейти</span></span></span>
                  </span>
                </a>
              </div>
              <div class="bb-popup__item">
                <a class="bb-item" href="#">
                  <span class="bb-item__image"><img src="images/content/bb_3.png" alt="DESIGN конфигуратор"></span>
                    <span class="bb-item__description">
                    <span class="bb-item__title">DESIGN конфигуратор</span>
                    <span class="bb-item__text">Хотите чтобы ваш игровой ПК был по настоящему уникальным и отражал ваш характер? Выбирайте цвет элементов, изображения и</span>
                    <span class="js-open-bb bb-item__button-block"><span class="bb-item__pseudo-button"><span class="mobile-text">Design - конфигуратор</span><span class="desktop-text">Перейти</span></span></span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="bb-popup__bb">
            <div class="bb">
              <p class="bb__title"><span class="bb__title-big">ВЫБЕРИ</span> СВОЮ СТОРОНУ</p>
              <div class="bb__inner">
                <div class="bb__block bb__block--blue bb__block--left">
                  <div class="bb__block-inner">
                    <div class="bb__block-image"><img src="images/content/bb_intel.png" alt="Intel"></div>
                    <div class="bb__block-links">
                      <a class="bb__block-link bb__block-link--blue" href="#">Intel® Core™ i5</a>
                      <a class="bb__block-link bb__block-link--blue" href="#">Intel Core™ i7</a>
                      <a class="bb__block-link bb__block-link--blue" href="#">Intel® Core™ i9X</a>
                    </div>
                  </div>
                </div>
                <div class="bb__block bb__block--red bb__block--right">
                  <div class="bb__block-inner">
                    <div class="bb__block-image"><img src="images/content/bb_ryzen.png" alt="AMD Ryzen"></div>
                    <div class="bb__block-links">
                      <a class="bb__block-link bb__block-link--red" href="#">AMD RYZEN R5</a>
                      <a class="bb__block-link bb__block-link--red" href="#">AMD RYZEN R7</a>
                      <a class="bb__block-link bb__block-link--red" href="#">THREADRIPPER</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="cart-icon" href="#" title="Корзина"><span class="cart-icon__qnt">0</span><svg class="cart-icon__icon" aria-hidden="true"><use xlink:href="#cart"/></svg></a>
      </div>
    </div>
  </div>
</header>
