<div class="pager">
  <a class="pager__item pager__arrow pager__arrow--prev" href="#">
    <svg class="pager__arrow-icon" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#arrow-left"/></svg>
  </a>
  <a class="pager__item is-active" href="#">1</a>
  <a class="pager__item" href="#">2</a>
  <a class="pager__item" href="#">3</a>
  <a class="pager__item" href="#">4</a>
  <a class="pager__item" href="#">5</a>
  <a class="pager__item" href="#">6</a>
  <a class="pager__item pager__arrow pager__arrow--next" href="#">
    <svg class="pager__arrow-icon" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#arrow-right"/></svg>
  </a>
</div>
