<div class="js-sticky-socials sticky-socials">
  <div class="sticky-socials__inner">
    <a class="social-link" href="#" target="_blank" title="vk.com" rel="nofollow noreferrer">
      <svg class="social-link__icon social-link__icon--vk" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#vk"/></svg>
    </a>
    <a class="social-link" href="#" target="_blank" title="facebook.com" rel="nofollow noreferrer">
      <svg class="social-link__icon social-link__icon--fb" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#fb"/></svg>
    </a>
    <a class="social-link" href="#" target="_blank" title="instagram.com" rel="nofollow noreferrer">
      <svg class="social-link__icon social-link__icon--inst" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#inst"/></svg>
    </a>
    <a class="social-link" href="#" target="_blank" title="youtube.com" rel="nofollow noreferrer">
      <svg class="social-link__icon social-link__icon--yt" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#yt"/></svg>
    </a>
    <a class="social-link" href="#feedback" data-fancybox="feedback" title="Обратный звонок">
      <svg class="social-link__icon social-link__icon--phone" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#phone"/></svg>
    </a>
  </div>
  <button class="js-sticky-socials-toggler sticky-socials__toggler social-link" type="button">
    <svg class="social-link__icon social-link__icon--phone" aria-hidden="true"><use xlink:href="images/icons/sprite.svg#phone"/></svg>
  </button>
</div>
