.catalog-banner
  margin-top: -15px
  overflow: hidden

  @media(min-width: 768px)
    margin-top: -20px

  &__slide
    background-color: #141414
    padding-top: 30px
    padding-bottom: 30px
    text-align: center

    @media(min-width: 1900px)
      padding-top: 70px
      padding-bottom: 30px

  &__image
    max-width: 90%

    @media(min-width: 1200px)
      max-width: 60%
