.price-bar
  align-items: center
  display: flex
  justify-content: flex-end

  @media(max-width: 991px)
    background-color: #272727
    box-shadow: 0 -5px 5px rgba(0,0,0,0.8)
    bottom: 0
    left: 0
    min-height: 55px
    position: fixed
    padding-left: 10px
    padding-right: 10px
    top: auto
    width: 100%
    z-index: 1

  &__price
    font-family: 'Russo One', 'Roboto', Arial, sans-serif
    font-size: 18px
    font-weight: 400
    margin-right: 15px

    @media(min-width: 1200px)
      font-size: 30px

    @media(min-width: 1900px)
      font-size: 38px
      margin-right: 25px

  &__button
    background-color: #F13724
    border: 1px solid #F13724
    color: #fff
    cursor: pointer
    display: inline-block
    font-family: 'Russo One', 'Roboto', Arial, sans-serif
    font-size: 16px
    font-weight: 400
    line-height: 18px
    min-height: 40px
    min-width: 120px
    padding: 10px
    text-decoration: none
    text-align: center
    vertical-align: middle

    @media(min-width: 1900px)
      min-width: 165px
      min-height: 50px
      padding: 15px

    &:hover
      text-decoration: none

.detail-features
  &__row
    align-items: stretch
    display: flex
    flex-wrap: wrap
    margin-left: -5px
    margin-right: -5px

    @media(min-width: 1600px)
      margin-right: -10px
      margin-left: -10px

  &__col
    margin-bottom: 10px
    padding-left: 5px
    padding-right: 5px
    width: 33.33%

    @media(min-width: 480px)
      width: 25%

    @media(min-width: 768px)
      width: 20%

    @media(min-width: 992px)
      width: 12.5%

    @media(min-width: 1600px)
      padding-left: 10px
      padding-right: 10px

  &__feature
    align-items: flex-end
    background-color: #3a3a3a
    border: 1px solid #95989A
    box-shadow: 0 3px 6px rgba(0,0,0,0.16)
    display: flex
    flex-direction: column
    font-size: 10px
    justify-content: center
    height: 100%
    line-height: 1.16
    padding: 5px
    text-align: right

    @media(min-width: 768px)
      font-size: 12px

  &__feature-title
    font-family: 'Russo One', 'Roboto', Arial, sans-serif
    font-size: 14px
    font-weight: 700
    line-height: 1
    margin-bottom: 5px !important

    @media(min-width: 768px)
      font-size: 20px

    @media(min-width: 1600px)
      font-size: 30px

  &__feature-text
    margin-bottom: 0 !important
