.catalog-list
  padding-top: 20px

.catalog-card
  margin-left: auto
  margin-right: auto
  margin-bottom: 20px
  max-width: 370px

  &__link
    display: block

  &__image
    background-color: #181818
    border: 1px solid #707070
    background-position: 50% 50%
    background-size: auto 90%
    background-repeat: no-repeat
    display: block
    height: 0
    margin-bottom: 15px
    padding-bottom: 77.3%
    width: 100%

    @media(min-width: 1900px)
      margin-bottom: 30px

  &__title
    font-weight: 500

    @media(min-width: 1900px)
      font-size: 30px
      padding-left: 30px

  &:hover
    text-decoration: none
