.header
  background-color: #131313
  left: 0
  opacity: 1
  position: fixed
  top: 0
  transition: opacity 0.7s, top 0.7s
  width: 100%
  z-index: 10

  @media(min-width: 768px)
    box-shadow: 0 5px 5px rgba(0,0,0,0.8)

  &.hidden
    opacity: 0
    top: -100%

  &__top
    background-color: #272727
    display: none
    font-size: 14px
    line-height: 50px
    min-height: 50px

    @media(min-width: 768px)
      display: block
      position: relative
      z-index: 2

    @media(min-width: 1900px)
      font-size: 18px

  &__top-inner
    align-items: center
    display: flex
    justify-content: flex-end

  &__top-link
    color: #fff
    text-decoration: none

    &:last-child
      &::after
        display: none

    &::after
      background-color: #fff
      content: ''
      display: inline-block
      height: 15px
      margin-left: 15px
      margin-right: 15px
      position: relative
      top: -2px
      vertical-align: middle
      width: 1px

    &--phone
      &:hover
        text-decoration: none

  &__geo
    &::after
      position: relative
      top: -1px
      display: inline-block
      width: 1px
      height: 15px
      margin-right: 15px
      content: ""
      vertical-align: middle
      background-color: #fff

  &__bottom
    min-height: 55px
    position: relative
    z-index: 1

    @media(min-width: 768px)
      min-height: 70px

    @media(min-width: 992px)
      min-height: 100px

    &::before
      @media(max-width: 767px)
        background-color: #3E3E3E
        border: 3px solid #272727
        content: ''
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 2

      @media(min-width: 768px) and (max-width: 991px)
        background-color: #131313
        content: ''
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 2

  &__bottom-inner
    align-items: stretch
    display: flex
    justify-content: space-between
    min-height: 55px

    @media(min-width: 768px)
      min-height: 70px

    @media(min-width: 992px)
      min-height: 100px

.logo
  align-items: center
  display: flex
  left: 10px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 90px
  z-index: 100

  @media(min-width: 375px)
    width: 135px

  @media(min-width: 768px)
    width: 250px

  @media(min-width: 992px)
    left: auto
    position: static
    top: auto
    transform: none

  @media(min-width: 1400px)
    width: 300px

  @media(min-width: 1600px)
    width: 350px

.cart-icon
  align-items: center
  display: flex
  flex-basis: 50px
  justify-content: center
  height: 50px
  left: auto
  min-width: 50px
  position: absolute
  right: 50px
  top: 50%
  transform: translateY(-50%)
  width: 50px
  z-index: 2

  @media(min-width: 992px)
    background-color: #282828
    border-radius: 50%
    margin-left: 20px
    position: relative
    right: auto
    top: auto
    transform: none

  @media(min-width: 1400px)
    margin-left: 40px

  &__icon
    fill: #fff
    height: 22px
    width: 22px

  &__qnt
    background-color: #D02228
    border-radius: 50%
    color: #fff
    font-size: 12px
    height: 15px
    left: auto
    min-width: 15px
    position: absolute
    right: 7px
    top: 7px
    text-align: center

.geo
  align-items: center
  display: flex
  position: relative

  &__opener
    align-items: center
    background: none
    border: none
    color: #fff
    cursor: pointer
    display: flex
    justify-content: center
    height: 50px
    padding: 0 15px

  &__list
    background-color: #272727
    border-bottom: 2px solid #D02228
    display: none
    left: -30px
    position: absolute
    padding-bottom: 10px
    padding-top: 10px
    top: 100%
    width: 240px
    z-index: 1

    &.is-open
      display: block

  &__list-title
    font-family: "Russo One", Arial, sans-serif
    font-size: 18px
    margin-bottom: 0
    text-align: center

  &__list-item
    background: none
    border: none
    border-left: 2px solid transparent
    transition: border-color 0.3s
    color: #fff
    cursor: pointer
    display: block
    padding: 10px
    text-align: center
    width: 100%

    &:hover
      border-left-color: #d02228

.geo2
  align-items: center
  display: flex
  position: relative

  &__opener
    align-items: center
    background: none
    border: none
    color: #fff
    cursor: pointer
    display: flex
    justify-content: center
    height: 50px
    padding: 0 15px

  &__opener-icon
    height: 16px
    margin-right: 5px
    width: 16px

  &__dropdown
    background-color: #272727
    border-bottom: 2px solid #d02228
    display: none
    left: 50%
    line-height: 1.7
    position: absolute
    top: 100%
    transform: translateX(-30%)
    width: 450px
    z-index: 1

    @media(min-width: 992px)
      transform: translateX(-50%)

    &.is-open
      display: block

  &__dropdown-inner
    padding: 15px 20px 5px

  &__dropdown-title
    color: #ccc
    margin-bottom: 15px

  &__dropdown-form
    margin-bottom: 15px
    position: relative

  &__dropdown-inputin
    position: relative

    &::before
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='location'%3E%3Cpath fill='none' stroke='%23ccc' stroke-width='1.01' d='M10,0.5 C6.41,0.5 3.5,3.39 3.5,6.98 C3.5,11.83 10,19 10,19 C10,19 16.5,11.83 16.5,6.98 C16.5,3.39 13.59,0.5 10,0.5 L10,0.5 Z'%3E%3C/path%3E%3Ccircle fill='none' stroke='%23ccc' cx='10' cy='6.8' r='2.3'%3E%3C/circle%3E%3C/svg%3E%0A")
      background-position: 50% 50%
      background-repeat: no-repeat
      background-color: transparent
      content: ''
      height: 15px
      left: 10px
      position: absolute
      top: 12px
      width: 15px
      z-index: 1

  &__dropdown-input
    border: 1px solid #ccc
    background: #1e1e1e
    color: #fff
    display: block
    height: 40px
    line-height: 15px
    padding-left: 40px
    padding-right: 15px
    padding-top: 9px
    padding-bottom: 11px
    width: 100%

  &__dropdown-link
    color: #ccc
    cursor: pointer
    text-decoration: none

    &:hover,
    &:focus
      text-decoration: underline

  &__dropdown-note
    font-size: 13px
    margin-top: 10px

    span
      opacity: 0.5

  &__suggest
    border: 1px solid #ccc
    background-color: #1e1e1e
    display: none
    left: 0
    position: absolute
    padding-top: 10px
    margin-top: -1px
    top: 100%
    width: 100%
    z-index: 1

  &__suggest-title
    color: #ccc
    font-size: 12px
    padding-left: 5px
    padding-right: 5px

  &__suggest-list
    max-height: 200px
    overflow-y: auto

  &__suggest-item
    cursor: pointer
    padding: 5px

    &:hover
      background-color: #272727

    span
      color: #e7212e
