.main-banner
  height: 400px
  margin-top: -15px
  margin-bottom: 20px
  overflow: hidden

  @media(min-width: 768px)
    height: 600px
    margin-top: -30px

  @media(min-width: 1900px)
    height: 800px

  &__slide
    background-color: #f7f7f7
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: cover
    height: 400px

    @media(min-width: 768px)
      height: 600px

    @media(min-width: 1900px)
      height: 800px

  &__slide-inner
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    height: 400px

    @media(min-width: 768px)
      height: 600px

    @media(min-width: 1900px)
      height: 800px

  &__title
    font-size: 30px
    margin-bottom: 15px
    text-align: center

    @media(min-width: 1200px)
      font-size: 40px
      margin-bottom: 25px

    .decorated-title
      font-size: inherit

  &__subtitle
    color: #C4D1F5
    font-size: 22px
    font-weight: 700
    margin-bottom: 15px

    @media(min-width: 1200px)
      font-size: 30px
      margin-bottom: 25px

  &__text
    margin-bottom: 15px
    text-align: center

    @media(min-width: 1200px)
      font-size: 20px
      margin-bottom: 25px

  &__image
    @media(max-width: 767px)
      display: none

  &__buttons
    display: flex
    justify-content: center

    @media(min-width: 768px)
      margin-top: 15px

    @media(min-width: 1200px)
      margin-top: 15px
