.scroll-menu-block
  min-height: 55px
  padding-top: 0
  padding-bottom: 0

  @media (min-width: 1200px)
    min-height: 80px
    padding-bottom: 0
    padding-top: 0

  @media (min-width: 1900px)
    min-height: 80px
    padding-top: 0
    padding-bottom: 0

  &__inner
    background-color: #272727
    min-height: 55px

    @media (min-width: 1200px)
      min-height: 80px

    &.fixed
      box-shadow: 0 5px 5px rgba(0,0,0,0.8)
      left: 0
      position: fixed
      top: 0
      width: 100%
      z-index: 100

  .decorated-title
    display: none
    margin-bottom: 0

    @media(min-width: 992px)
      display: block

.scroll-menu
  @media(min-width: 992px)
    align-items: center
    display: flex
    justify-content: space-between

  @media(min-width: 1200px)
    min-height: 80px

.sections-menu
  display: flex
  overflow-x: auto

  @media(min-width: 1900px)
    font-size: 20px

  &__item
    min-height: 55px
    margin-right: 20px

    @media(min-width: 1900px)
      margin-right: 40px

    &:last-child
      margin-right: 0

    &.is-active
      border-bottom: 3px solid #E7212E

  &__link
    align-items: center
    display: flex
    min-height: 55px

    &:hover
      text-decoration: none
