<footer class="footer">
  <div class="footer__inner footer__inner--main is-active">
    <a class="footer__button config-close" href="#" title="Закрыть конфигуратор">Закрыть</a>
    <a class="footer__button config-full" href="#" title="Расширенный конфигуратор"><span class="config-full__icon"><img src="images/icons/config_icon.png" alt=""></span><span class="config-full__text">Расширенный конфигуратор</span></a>
    <div class="footer__button compare-button">
      <a class="compare-button__link" href="compare.html" title="Перейти к сравнению">
        <span class="compare-button__icon">
          <svg class="compare-button__svg" aria-hidden="true"><use xlink:href="#files"/></svg>
        </span>
        <span class="config-full__text">Сравнить</span>
      </a>
      <span class="compare-button__qnt">2</span>
      <button class="compare-button__add" type="button" title="Добавить к сравнению">+</button>
    </div>
    <div class="footer__buttons">
      <div class="footer__buttons-inner">
        <a class="footer__button config-save" href="#popup_1" title="Сохранить" data-fancybox="popup"><svg class="config-save__icon" aria-hidden="true"><use xlink:href="#save"/></svg><span class="config-save__text">Сохранить</span></a>
        <div class="footer__price-block">
          <p class="footer__price">100 000 руб.</p>
          <p class="footer__price-per-month">3500 руб. / мес. <a class="footer__month-price-link" data-fancybox="popup" data-src="#popup_6" href="javascript:void(0)"><svg class="footer__month-price-icon" aria-hidden="true"><use xlink:href="#question-circle"/></svg></a></p>
        </div>
        <a class="footer__button config-chat" href="#" title="Чат">Чат</a>
        <a class="js-config-result footer__button footer__button--red config-buy" href="#" title="Итого">Итого</a>
      </div>
    </div>
  </div>
  <div class="footer__inner footer__inner--result">
    <a class="footer__button config-close" href="#" title="Закрыть конфигуратор">Закрыть</a>
    <a class="footer__button config-full" href="#" title="Расширенный конфигуратор"><span class="config-full__icon"><img src="images/icons/config_icon.png" alt=""></span><span class="config-full__text">Расширенный конфигуратор</span></a>
    <div class="footer__result-buttons">
      <a class="footer__button config-save" href="#popup_1" title="Сохранить" data-fancybox="popup"><svg class="config-save__icon" aria-hidden="true"><use xlink:href="#save"/></svg><span class="config-save__text">Сохранить</span></a>
      <a class="js-config-edit footer__button config-edit" href="#" title="Изменить"><svg class="config-edit__icon" aria-hidden="true"><use xlink:href="#edit"/></svg><span class="config-edit__text">Изменить</span></a>
      <a class="footer__button footer__button--red config-buy" href="cart.html" title="Оформить заказ">Оформить заказ</a>
    </div>
  </div>
</footer>
