<footer class="footer">
  <div class="footer__inner">
    <a class="footer__button config-close" href="#" title="Закрыть конфигуратор">ЗАКРЫТЬ</a>
    <div class="footer__buttons">
      <div class="footer__admin-buttons">
        <!--<a class="footer__button config-admin" href="#" title="АДМИН">АДМИН</a>
        <a class="footer__button config-admin" href="#" title="PREORDER">PREORDER</a>-->
      </div>
      <div class="footer__buttons-inner">
        <a class="js-config-save footer__button config-save" href="#" title="Сохранить"><svg class="config-save__icon" aria-hidden="true"><use xlink:href="#save"/></svg><span class="config-save__text">СОХРАНИТЬ</span></a>
        <div class="footer__price-block">
          <p class="footer__price">100 000 руб.</p>
          <p class="footer__price-per-month">3500 руб. / мес. <a class="footer__month-price-link" data-fancybox="popup" data-src="#popup_6" href="javascript:void(0)"><svg class="footer__month-price-icon" aria-hidden="true"><use xlink:href="#question-circle"/></svg></a></p>
        </div>
        <a class="footer__button footer__button--red config-buy" href="#" title="Итого">Итого</a>
      </div>
    </div>
  </div>
</footer>
